{
  "info": {
    "copyright": "{{json_data['info']['license']['x-copyright']}}",
    "license": "https://github.com/one-data-model/oneDM/blob/master/LICENSE",
    "title": "{{json_data['info']['title']}}",
    "version": "{{json_data['info']['version']}}"
  },
  {% for path, path_data in json_data['paths'].items() -%}
  {% for methodName, method_data in path_data.items() %}"odmObject": {
    "{{ odm_return_name(path) }}": {
      {% for property_name, property_data in method_data.items() %}{% if property_name == "description" %}"description": "{{escape_quotes(property_data)}}",{% endif %}{% endfor %}
      "name": "{{ odm_return_name(path, "long") }}",
      "odmProperty": {
        {% for schemaName, schemaDef in json_data['definitions'].items() -%}
          {% for property_name, property_data in schemaDef['properties'].items() -%}
            {% if property_name in query_properties_filtered(json_data, path) -%}
            "{{property_name}}": {
              {% for propertyItem_name, propertyItem_data in property_data.items() -%}
              {% if propertyItem_name == "description" %}"description": "{{escape_quotes(propertyItem_data)}}"{% if not loop.last %},{% endif %}
              {% endif %}{% if propertyItem_name == "type" %}"type": "{{escape_quotes(propertyItem_data)}}"{% if not loop.last %},{% endif %}
              {% endif %}{% if propertyItem_name == "minimum" %}"minimum": "{{propertyItem_data}}"{% if not loop.last %},{% endif %}
              {% endif %}{% if propertyItem_name == "maximum" %}"maximum": "{{propertyItem_data}}"{% if not loop.last %},{% endif %}
              {% endif %}{% if propertyItem_name == "enum" %}"enum": {{odm_enumArray(propertyItem_data)}}{% if not loop.last %},{% endif %}
              {% endif %}{% if propertyItem_name == "readOnly" %}{% if propertyItem_data is sameas true %}"writable": false{% else %}"writable": true{% endif %}{% if not loop.last %},{% endif %}
              {% endif %}{% if propertyItem_name == "$ref" %}{{odm_refProperties(propertyItem_data)}}{% if not loop.last %},{% endif %}
            {% endif %}{% endfor %}}{% if not loop.last %},{% endif %}
          {%endif %}{% endfor %}
        {% endfor %}},
      "odmRequired": [
    {%- for requiredItem in query_required_items(json_data, path) %}
        "0/odmProperty/{{requiredItem}}"{% if loop.last %}{% else %},{% endif %}{% endfor %}
      ] 
    }
  }
{% endfor -%}
{% endfor -%}
}
