{
  "info": {
    "copyright": "{{json_data['info']['license']['x-copyright']}}",
    "license": "https://github.com/one-data-model/oneDM/blob/master/LICENSE",
    "title": "{{json_data['info']['title']}}",
    "version": "{{json_data['info']['version']}}"
  },
{% for path, path_data in json_data['paths'].items() -%}
{% for methodName, method_data in path_data.items() -%}
  "odmObject": {
    "{{ path }}": {
      {% for property_name, property_data in method_data.items() %}{% if property_name == "description" %}"description": "{{escape_quotes(property_data)}}",{% endif %}{% endfor %}
      "name": "{{ path}}",
      "odmProperty": {
        {% for schemaName, schemaDef in json_data['definitions'].items() -%}
        {% for property_name, property_data in schemaDef['properties'].items() -%}
        {% if property_name in query_properties_filtered(json_data, path) -%}
        "{{property_name}}": {
          {% for propertyItem_name, propertyItem_data in property_data.items() %}{% if propertyItem_name == "description" %}"description": "{{escape_quotes(propertyItem_data)}}",
          {% endif %}{% endfor %}{% for propertyItem_name, propertyItem_data in property_data.items() %}{% if propertyItem_name == "type" %}"type": "{{escape_quotes(propertyItem_data)}}",
          {% endif %}{% endfor %}{% for propertyItem_name, propertyItem_data in property_data.items() %}{% if propertyItem_name == "minimum" %}"minimum": "{{propertyItem_data}}",
          {% endif %}{% endfor %}{% for propertyItem_name, propertyItem_data in property_data.items() %}{% if propertyItem_name == "maximum" %}"maximum": "{{propertyItem_data}}",
          {% endif %}{% endfor %}{% for propertyItem_name, propertyItem_data in property_data.items() %}{% if propertyItem_name == "readOnly" %}"writable": "false",
          {% endif %}{% endfor %}},
        {% endif %}
        {%- endfor %}
      {%- endfor %}},
      {% for requiredItem in query_required_items(json_data, path) %}"odmRequired": ["0/odmProperty/{{requiredItem}}}"]
    {% endfor %}}
  }
{% endfor -%}
{% endfor -%}
}
